<app-header></app-header>


<div id="slideshow">
    <div id="carouselSlideshow" class="carousel slide" data-ride="carousel" data-interval="4000" data-pause="false">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img class="d-block w-100 carouselImage" src="../../../assets/banner_aboutus.jpg" alt="First slide">
        </div>
      </div>
    </div>
  </div>

 

  <div class="questions">
    <div class="jumbotron" style="margin-bottom: 0;">
      <h1 class="display-4">Frequently Asked Questions</h1>
      <hr class="my-4">
      <h4>1. What is Online FinTech?</h4>
      <p class="lead">Online FinTech is the Internet Banking Service provided by FinTech Bank, India's Largest and premium commerical bank.</p>
      <h4>2. What is special about Internet Banking?</h4>
      <p class="lead">Internet Banking is the most convenient way to bank anywhere, anytime and at any place at your own convenience.</p>
      <h4>3. I do not have an account at FinTech Bank. What do I do?</h4>
      <p class="lead">You are welcome to open it now. It is very easy to open an account with FinTech Bank. You can apply online for opening of a savings account. A link "Open Account" is available on the homepage of FinTech Bank's website or you can just walk in to any of our branches nearby. Our staff would be pleased to assist you.</p>
      <h5>4. I want to register for Internet Banking now. What do i do?</h5>
      <p class="lead">Fill up the Registration form on our site, complete the form and submit it. Your Regsitration formalities are complete after your details are verified and authenticated by the Admin.</p>
      <h5>5. Can I change my Password?</h5>
      <p class="lead">Passwords can be changed anytime and for any number of times. In Fact, we recommend that your password should be changed periodically to secure access to your account information.</p>
      <h5>6. What happens if I forget my Login Password?</h5>
      <p class="lead">Click on "Forgot Password" link on the site and provide the requested information. This way you can reset your password after authentication.</p>
      <h5>7. I want to know more about FinTech Bank?</h5>
      <p class="lead">We are glad about the interest you have evinced in our Bank. Please <a routerLink="/home">visit</a> our website for more information.</p>
      <h5>8. Whom to contact if I have any banking related queries?</h5>
      <p class="lead">We would be glad to answer to any of your queries. Please <a routerLink="/contact">contact</a> us here.</p>
    </div>
  </div>

  <app-footer></app-footer>