<app-header></app-header>
  
   <div id="admin-login">
    <div class="login-details">
      <div class="row">
        <div class="col-md-12">
          <i class="fas fa-unlock login-icon"> Forgot User Id</i>
          <hr class="my-4 horizontal">
          <form name="form" #forgotPassword = "ngForm" (ngSubmit)="forgotPassword.form.valid && ForgotPass(forgotPassword)">
              <table>
                <tr>
                  <div class="form-group">
                    <td><label for="userid">Account Number</label></td>
                  </div>
                </tr>
                <tr>
                  <div class="form-group">
                    <td class="field"><input type="text" class="form-control" name="userid" id="userid" aria-describedby="emailHelp" [(ngModel)]="admin.userid" #userid="ngModel" placeholder="Enter Account Number" required autofocus></td>
                  </div>
                </tr>
                <span *ngIf="forgotPassword.submitted && userid.invalid">
                  <span class="validation" *ngIf="userid.errors?.required">Field cannot be blank</span>
                </span>
               </table>
              <button type="submit" class="btn btn-primary">Submit</button>
          </form>
        </div>
      </div>
    </div>
  </div>   

  
   
<app-footer style="position: absolute; width:100%; bottom:0"></app-footer>