<app-header></app-header>
<a routerLink='/userdashboard'><i class="fas fa-arrow-circle-left back-icon fa-2x"></i></a>

<div id="admin-login">
    <div class="login-details">
      <div class="row">
        <div class="col-md-12">
          <i class="fas fa-user center login-icon"> Beneficiary Details</i>
          <hr class="my-4 horizontal">
          <form name="form" #beneficiary="ngForm" (ngSubmit)="beneficiary.form.valid && RegisterData(beneficiary)">
            <div class="form-group">
              <label for="BenaccNo">Beneficiary Account Number</label>
              <input type="text" class="form-control" name="BenaccNo" id="BenaccNo" aria-describedby="emailHelp" [(ngModel)]="model.BenaccNo" #BenaccNo="ngModel" placeholder="Enter Beneficiary Account Number" pattern="^[0-9]{7}" maxlength="7" required autofocus>
              <span *ngIf="beneficiary.submitted && BenaccNo.invalid">
                <span class="validation" *ngIf="BenaccNo.errors?.required">Field cannot be blank</span>
                <span class="validation" *ngIf="BenaccNo.errors?.pattern">Invalid Account Number</span>
              </span>
            </div>

            <div class="form-group">
              <label for="useraccno">Your Account Number</label>
              <input type="text" class="form-control" name="useraccno" id="useraccno" aria-describedby="emailHelp" [(ngModel)]="model.useraccno" #useraccno="ngModel" placeholder="Enter Your Account Number" pattern="^[0-9]{7}" maxlength="7" required readonly>
              <span *ngIf="beneficiary.submitted && useraccno.invalid">
                <span class="validation" *ngIf="useraccno.errors?.required">Field cannot be blank</span>
                <span class="validation" *ngIf="useraccno.errors?.pattern">Invalid Account Number</span>
              </span>
            </div>
            <div class="form-group">
              <label for="BenName">Beneficiary Name</label>
              <input type="text" class="form-control" name="BenName" id="BenName" [(ngModel)]="model.BenName" #BenName="ngModel" placeholder="Enter Beneficiary Name" required>
              <span *ngIf="beneficiary.submitted && BenName.invalid">
                <span class="validation" *ngIf="BenName.errors?.required">Field cannot be blank</span>
              </span>
            </div>
            <div class="form-group">
              <label for="BenNickname">Beneficiary Nick Name</label>
              <input type="text" class="form-control" name="BenNickname" id="BenNickname" [(ngModel)]="model.BenNickname" #BenNickname="ngModel" placeholder="Enter Beneficiary Nick Name" required>
              <span *ngIf="beneficiary.submitted && BenNickname.invalid">
                <span class="validation" *ngIf="BenNickname.errors?.required">Field cannot be blank</span>
              </span>
            </div>
            <div class="form-group">
              <label for="bankType">Beneficiary Bank Type</label><br>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="bankType" id="FinTech" value="FinTech Bank" [(ngModel)]="model.bankType" #bankType="ngModel"required>
                <label class="form-check-label" for="FinTech">FinTech Bank</label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="bankType" id="Other" value="Other bank" [(ngModel)]="model.bankType" #bankType="ngModel" required>
                <label class="form-check-label" for="Other">Other Bank</label><br>
                <span *ngIf="beneficiary.submitted && bankType.invalid">
                    <span class="validation" *ngIf="bankType.errors?.required" >Please select either one</span>
                  </span>
              </div>
            </div>
            <div class="form-group">
              <label for="IFSC">IFSC Code</label>
              <input type="text" maxlength="11"  class="form-control" name="IFSC" id="IFSC" [(ngModel)]="model.IFSC" #IFSC="ngModel" placeholder="Enter IFSC Code" required>
              <span *ngIf="beneficiary.submitted && IFSC.invalid">
                <span class="validation" *ngIf="IFSC.errors?.required">Field cannot be blank</span>
                                <span class="validation" *ngIf="IFSC.errors?.required">Field cannot be blank</span>

              </span>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  <app-footer></app-footer>