<!-- <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Welcome to FinTech | All Your banking needs in one App.</title>
    <link rel="stylesheet" href="css/about.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css" integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </head> -->
  
    <header id="header">
      <div class="container-fluid">
        <nav class="navbar navbar-expand-lg navbar-light">
          <a class="navbar-brand" id="navigation-brand" routerLink="/home">FinTech</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
  
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                <a class="nav-link" routerLink="/home">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="/FAQ">FAQ's</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="/aboutus">About Us</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="https://www.larsentoubro.com/">Our Partners</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="/contact">Contact Us</a>
              </li>
            </ul>
          </div>
        </nav>
      </div>
    </header>
  
    <div id="slideshow">
      <div id="carouselSlideshow" class="carousel slide" data-ride="carousel" data-interval="4000" data-pause="false">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img class="d-block w-100 carouselImage" src="../../../assets/banner_aboutus.jpg" alt="First slide">
            <h4 class="bottom-center">We're just the bank you need.</h4>
          </div>
        </div>
      </div>
    </div>
  
    <div id="office-address">
      <div class="row">
        <div class="col-md-6">
          <p class="office-title">Our <span><b>Corporate Office</b></span></p><br>
          <span>Fintech Bank, Corporate Office, Bombay Dyeing</span><br>
          <span>Mills Compound, Pandurang Budhkar Marg, Worli,</span><br>
          <span>Mumbai - 400 025</span><br>
          <p>Tel: (022) 2425 2552</p>
        </div>
        <div class="col-md-6 office-image">
          <img src="../../../assets/office.jpg" width="500px" height="300px" alt="office-image">
        </div>
      </div>
    </div>
  
    <div id="about-us" style="text-align:center">
      <div class="facts">
        <h2 class="about-header">Some Facts About Us</h2>
        <hr class="horizontal">
        <div class="row feature-box">
          <div class="col-md-3 feature-item">
            <i class="far fa-clock fa-3x feature-icon"></i>
            <div class="counter-years header">0</div>
            <h4 class="feature-icon">Years of Experience</h4>
          </div>
          <div class="col-md-3 feature-item">
            <i class="fas fa-users fa-3x feature-icon"></i>
            <div class="counter-customers header">0</div>
            <h4 class="feature-icon">Happy Customers</h4>
          </div>
          <div class="col-md-3 feature-item">
            <i class="fas fa-paper-plane fa-3x feature-icon"></i>
            <div class="counter-branches header">0</div>
            <h4 class="feature-icon">Total Branches</h4>
          </div>
          <div class="col-md-3 feature-item">
            <i class="far fa-handshake fa-3x feature-icon"></i>
            <div class="counter-awards header">0</div>
            <h4 class="feature-icon">Awards Won</h4>
          </div>
        </div>
      </div>
    </div>
  
    <div id="contactUs">
      <div class="row">
        <div class="col-md-6">
          <h2 class="header2">Get in touch with us now!</h2>
        </div>
        <div class="col-md-6">
          <a href="https://twitter.com/lti_global?lang=en"><i class="fab social-icon fa-twitter fa-2x"></i></a>
          <a href="https://www.facebook.com/LarsenToubroInfotech/"><i class="fab social-icon fa-facebook-f fa-2x" style="color: darkblue;"></i></a>
          <a href="https://www.instagram.com/lti_global/?hl=en"><i class="fab social-icon fa-instagram fa-2x instagram"></i></a>
          <a href="mailto: Abhishek.Jain@lntinfotech.com"><i class="fas social-icon fa-envelope fa-2x" style="color:white;"></i></a>
          <a href="https://www.youtube.com/channel/UCr4-_QrHa_CCN872Cgi4D3Q"><i class="fab social-icon fa-youtube fa-2x" style="color:red;"></i></a>
          <a href="https://www.linkedin.com/company/l&t-infotech/?originalSubdomain=in"><i class="fab social-icon fa-linkedin-in fa-2x"></i></a>
          <p>© 2021 Fintech Group of Companies. Terms and Conditions applied.</p>
        </div>
      </div>
    </div>
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> -->
    <!-- <script src="../../../assets/external/index.js" charset="utf-8"></script> -->
    
  