    <header id="header">
      <div class="container-fluid">
        <nav class="navbar navbar-expand-lg navbar-light">
          <a class="navbar-brand" id="navigation-brand" routerLink="/home">FinTech</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
  
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                <a class="nav-link" routerLink="/home">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="/FAQ">FAQ's</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="/aboutus">About Us</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="https://www.larsentoubro.com/">Our Partners</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="/contact">Contact Us</a>
              </li>
            </ul>
          </div>
        </nav>
      </div>
    </header>
  
    <div id="slideshow">
      <div id="carouselSlideshow" class="carousel slide" data-ride="carousel" data-interval="4000" data-pause="false">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img class="d-block w-100 carouselImage" src="../../../assets/42_1_contact-us.jpg" alt="First slide">
            <h4 class="bottom-center">We are here to make Banking</h4>
            <h4 class="bottom">more Comfortable for You.</h4>
          </div>
        </div>
      </div>
    </div>
  
    <div id="contact-page">
      <div class="jumbotron" style="margin-bottom:0;">
        <h1 class="display-4"><strong>Contact Us</strong></h1>
        <p class="lead">Get in touch with us for your Banking needs on our easy to remember numbers. Now you can access your Accounts, Credit Card Loans, Demat Account and Investment Services by calling on a single number.</p>
        <p class="lead">Please keep your Customer Identification Number (Cust ID) and Associated Mobile Number ready to access your account.</p>
        <p class="lead">Phone Numbers mentioned here are the only Customer Care numbers of FinTech Bank, which you should use. Please do not use them for any other purpose as they may put you at a risk of fraud.</p>
        <hr class="my-4">
        <div class="row">
          <div class="col-md-12">
            <h3>Contact Centre (India)</h3>
          </div>
        </div>
        <br>
        <div class="contact-number">
          <div class="row">
            <div class="col-md-6">
              <h4>For all Customers (24 x 7)</h4>
              <br>
              <i class="fas contact-icon fa-phone-square-alt fa-2x"></i>
              <div class="toll-free-number">
                <span><b>Toll Free Number</b></span><br>
                <span><a href="tel:18002584455">1800 258 44 55</a></span>
                <br>
                <span><a href="tel:18001024455">1800 102 44 55</a></span>
              </div>
            </div>
            <div class="col-md-6">
              <h4>Missed Call Services</h4>
              <br>
              <i class="fas contact-icon fa-ticket-alt fa-2x"></i>
              <div class="toll-free-number">
                <span><b>Balance Inquiry</b></span><br>
                <span><a href="tel:8468001111">84680 01111</a></span><br>
                <span><b>Mini Statement</b></span><br>
                <span><a href="tel:8468001122">84680 01122</a></span>
              </div>
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col-md-6">
              <h4>NRIs (From Overseas locations)</h4>
              <br>
              <i class="fas contact-icon fa-phone-square-alt fa-2x"></i>
              <div class="toll-free-number">
                <span><b>24 x 7</b></span><br>
                <span><a href="tel:+917949044100">+91 79-49044100</a></span>
              </div>
            </div>
            <div class="col-md-6">
              <h4>Report Suspicious / Fraud transaction (24 x 7)</h4>
              <br>
              <i class="fas contact-icon fa-phone-square-alt fa-2x"></i>
              <div class="toll-free-number">
                <span><b>Toll Free Number</b></span><br>
                <span><a href="tel:18002584455">1800 258 44 55</a></span><br>
                <span><a href="tel:18001024455">1800 102 44 55</a></span>
              </div>
            </div>
          </div>
        </div>
        <p class="lead"></p>
      </div>
    </div>
  
    <app-footer></app-footer>>