<app-header></app-header>

<div class="error-page">
    <div class="error-img">
      <div class="row">
        <div class="col-md-12">
          <div class="error-messages">
            <div class="row">
              <div class="col-md-7">
                <p class="message-oops">Oops!</p>
                <p class="message-text">Seems like we don’t have the page you are looking for. <br> You can <a routerLink="/home" style="color: #ae275f">CLICK HERE</a> to go back to the home page.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <app-footer></app-footer>